<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon name="boat"></ion-icon>
      Shiplog
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToProfile()">
        <ion-icon name="person" title="{{user?.email}}"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" position="top">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div *ngIf="!days.length"> <ion-spinner></ion-spinner> Shipping your logs...</div>

  <ion-list>
    <ion-item *ngFor="let day of days" (click)="editDay(day.id)">
      <h2>
        {{day?.id}} <strong>{{day?.data.title}}</strong> <i>{{day?.data.tags}}</i>
      </h2>
      <p>{{day?.data.description}}</p>
    </ion-item>
  </ion-list>

</ion-content>